.headerRoom {
  max-width: 100%;
  width: 100%;
  .headerRoom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px ;
    border: 3px solid transparent;
    margin: 10px 0 30px;
    border-radius: 10px;
    background-color: #fff;
    h4{
        margin: 0;
    }
    .search{
        border: 2px solid black;
        border-radius: 15px;
        padding: 5px;
        font-size: 15px;
        width: 25%;
        &:hover{
          border-color: #ff385c;
        }
        select{
            border: none;
            padding: 5px 10px;
            width: 88%;
            outline: none;
        }
        span{
            margin: 5px;
            cursor: pointer;
            svg{
                font-size: 20px;
            }
        }
    }
  }

  .addImgRoom {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    cursor: pointer;
    .iconAddImg {
      width: 35px;
      height: 35px;
      border: 1px solid black;
      border-radius: 5px;
      text-align: center;
      line-height: 30px;
      cursor: pointer;
      font-size: 20px;
    }
    p {
      margin: 0 10px;
    }
    &:hover {
      color: rgb(59, 195, 59);
      // background-color: white;
      border-color: rgb(59, 195, 59);
      .iconAddImg {
        border-color: rgb(59, 195, 59);
      }
    }
  }
  .action {
    .iconEdit {
      width: 28px;
      height: 28px;
      border: 1px solid black;
      border-radius: 5px;
      text-align: center;
      line-height: 23px;
      cursor: pointer;
      margin: 5px;
      font-size: 20px;
      &:hover {
        color: rgb(59, 195, 59);
        background-color: white;
        border-color: rgb(59, 195, 59);
      }
    }
    .iconDelete {
      width: 28px;
      height: 28px;
      border: 1px solid black;
      border-radius: 5px;
      text-align: center;
      line-height: 23px;
      cursor: pointer;
      margin: 10px 5px;
      font-size: 20px;
      &:hover {
        color: rgb(248, 111, 111);
        background-color: white;
        border-color: rgb(248, 111, 111);
      }
    }
    .iconComment{
      width: 28px;
      height: 28px;
      border: 1px solid black;
      border-radius: 5px;
      text-align: center;
      line-height: 23px;
      cursor: pointer;
      margin: 5px;
      font-size: 20px;
      &:hover {
        color: rgb(49, 49, 200);
        background-color: white;
        border-color: rgb(49, 49, 200);
      }
    }
  }

  .roomsOfHose{
    p{
      margin: 0;
    }
  }

}