.wrapAddLocation {
  padding: 10px;

  .headerAddLocation{
    padding: 14px 20px ;
    border: 2px solid transparent;
    margin: 10px 0 30px;
    border-radius: 10px;
    background-color: #fff;
    h4{
      letter-spacing: 2px;
      margin: 0;
    }
  }

  .form {
    padding: 103px 30px;
    border: 2px solid transparent;
    background-color: #fff;
    border-radius: 10px;
    .input {
        
      label {
        display: block;
        text-align: left;
        margin-bottom: 10px;
        font-weight: 600;
        font-size: 17px;
        color: #000;

        @media screen and (max-width: 500px) {
          font-size: 14px;
        }
      }
      input {
        width: 100%;
        padding: 10px;
        border-radius: 10px;
        border: 2px solid black;
        color: #000;
        &:focus {
          border-color: #ff5a5f;
        }
      }

      .txtError {
        font-size: 14px;
        color: red;
        text-align: left;
        transform: translateX(5%);
        margin: 0;
        p {
          width: 100%;
        }
      }
    }

    .btn {
      text-align: center;
      padding: 100px 0 20px;
      font-size: 20px;
      button {
        letter-spacing: 2px;
        width: 50%;
        padding: 15px;
        font-weight: 600;
        color: #ff5a5f;
        background-color: #fff;
        border-radius: 20px;
        border: 2px solid rgb(255, 0, 0);
        &:hover {
          color: #fff;
          background-color: #ff5a5f;
        }
      }
    }
  }
}